body {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    z-index: 99;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding: 0 100px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style-type: none;
}

nav li {
    /* float: left; */
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;  
    line-height: 500%;
}

nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a.active-relative:hover {
    border: 1px solid white;
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.cover-page {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    bottom: 1em;
    box-shadow: 0 0 3px 1px black;
    max-width: 300px;
    margin-top: 110px;
    padding: 1em;
}

.column-6 p {
    background-color: transparent;
    color: tomato;
    font-weight: bolder;
}

.column-6 h1 {
    background-color: transparent;
    color: black;
}

.cover-page img {
    position: relative;
    width: 30%;
    float: right;
    top: -150px;
}

.contact-me {
    position: relative;
    margin-bottom: 3%;
    width: 70%;
    padding-left: 15%;
}

.contact-me .img-contact {
    width: 15%;
}

.about-me {
    /*  */
}

.container-about-me {
    margin: 5% 3%;
}

.button-section {
    /*  */
}

a.button-1 {
    text-decoration: none;
    border: .5px solid black;
    display: block;
    margin: .5em;
    padding: .5em;
    text-align: center;
    background-color: #7400b8;
    border-radius: 5px;
    color: white;
}

a.button-transparent {
    text-decoration: none;
    border: .5px solid black;
    display: block;
    margin: .5em;
    padding: .5em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    opacity: .8;
    border-radius: 5px;
    color: black;
}


.section-projects {
    padding-left: 11%;
    padding-right: 11%;
}

h2 {
    margin-top: 1em;
}

.set {
    padding: 3% 0;
}

.column-3 {
    width: 50%;
}

.container-section {
    display: flex;
}

.container-section img, .container-section p {
    margin: 0 3px;
}

.img-projects {
    width: 6em;
}

.section-projects p.extends {
        
}

.column-3 p {
    margin-bottom: 1em;
}

.education-section {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
}

.card-education {
    padding: 5% 0;
    border: 1px solid black;
    margin: 1% 0;
}

.card-education img {
    width: 30%;
}

.card-education a {
    display: block;
    text-decoration: none;
}

.footer-container {
    margin: 0 1em;
    position: relative;
    bottom: 1em;
    width: 220px;
    left: 2em;
}

/* Estilos especificos */
@media (max-width: 400px) {
    .cover-page {
        max-width: 300px;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 910px) {
    body {
        /* background-color: red; */
    }

    .cover-page {
        width: 100%;
        margin-top: 110px;
        max-width: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        padding: 0;
    }

    div.column-6 {
        font-size: 300%;
        padding-left: 3%;
        padding-top: .5em;
    }

    .cover-page img.column-6 {
        position: unset;
        width: 30%;
        float: none;
        display: inline-block;
        margin-right: 5%;
        margin-left: 20%;
    }

    .contact-me {
        width: 40%;
        /* padding: 0 3.5em; */
        padding-left: 3%;
    }

    .container-about-me {
        margin-bottom: 0;
    }

    .button-section {
        display: flex;
        padding: 0 2.5%;
    }

    .button-section .button-1 {
        width: 50%;
    }

    .button-section .button-transparent {
        width: 50%;
    }

    .section-projects {
        padding: 0 3%;
    }

    .section-projects .set {
        padding: 1% 0;
    }
}

@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        font-size: 17px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fbbf24;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
        /* background-color: tomato; */
    }

    a.active,a:hover {
        border: none;
        color: #3498db;
    }

    nav ul.show {
        left: 0;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}