* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    z-index: 99;
    box-shadow: 0 0 3px 1px black;
    background-color: #ffb000;
    display: flex;
    justify-content: space-between;
}

label.logo {
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding: 0 100px;
    line-height: 80px;
    padding-left: 3.2%;
}

nav ul {
    margin-right: 40px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;  
    line-height: 500%;
}

nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;
}

a.active,a.active-relative:hover {
    border: 1px solid white;
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.cover-page {
    display: flex;
    position: relative;
    bottom: 1em;
    margin-top: 110px;
    padding: 1em;
}

.column-6 p {
    background-color: transparent;
    color: tomato;
    font-weight: bolder;
}

.column-6 h1 {
    background-color: transparent;
    color: black;
}

.cover-page img.column-6 {
    position: unset;
    width: 30%;
    float: none;
    display: inline-block;
    margin-right: 5%;
    margin-left: 20%;
}

.contact-me {
    position: relative;
    margin-bottom: 3%;
    width: 70%;
    padding-left: 3%;
}

.contact-me .img-contact {
    width: 15%;
}

.container-about-me {
    margin: 5% 3%;
}

a.button-1 {
    text-decoration: none;
    border: .5px solid black;
    display: block;
    margin: .5em;
    padding: .5em;
    text-align: center;
    background-color: #7400b8;
    border-radius: 5px;
    color: white;
}

a.button-transparent {
    text-decoration: none;
    border: .5px solid black;
    display: block;
    margin: .5em;
    padding: .5em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    opacity: .8;
    border-radius: 5px;
    color: black;
}

.section-projects {
    padding-left: 11%;
    padding-right: 11%;
}

section.formulario {
    background-color: #474d5d;
    padding: 10% 8%;
    display: flex;
    color: white;
}

section.formulario input {
    width: 40%;
    padding: 3%;
    background-color: #585f73;
    border: none;
}

section.formulario textarea {
    background-color: #585f73;
    border: none;
    margin-bottom: 3%;
}

h2 {
    margin-top: 1em;
}

.set {
    padding: 3% 0;
}

.column-3 {
    width: 50%;
}

.container-section {
    display: flex;
}

.container-section img, .container-section p {
    margin: 0 3px;
}

.img-projects {
    width: 6em;
}

.column-3 p {
    margin-bottom: 1em;
}

.education-section {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
}

section#education h2 {
    text-align: center;
}

.card-education {
    padding: 5% 0;
    margin: 1% auto;
    border: 1px solid black;
    box-shadow: 0 0 3px 1px black;
    
}

.card-education a {
    width: 33%;
    margin: 0 auto;
}

.card-education:last-child {
    border-right: 1px solid black;
}

.card-education img {
    width: 30%;
    height: 55%;
}

.card-education a {
    display: block;
    text-decoration: none;
}

.column-4-gde {
    width: 30%;
}

.footer-container {
    margin: 0 1em;
    position: relative;
    bottom: 1em;
    width: 220px;
    left: 2em;
}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 910px) { /*A partir de 910 px se va  ejecutar lo que este en corchetes */
    .cover-page {
        width: 100%;
        margin-top: 110px;
        max-width: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        padding: 0;
    }

    div.column-6 {
        font-size: 300%;
        padding-left: 3%;
        padding-top: .5em;
    }

    .cover-page img.column-6 {
        position: unset;
        width: 30%;
        float: none;
        display: inline-block;
        margin-right: 5%;
        margin-left: 20%;
    }

    .contact-me {
        width: 40%;
        padding-left: 3%;
    }

    .container-about-me {
        margin-bottom: 0;
    }

    .button-section {
        display: flex;
        padding: 0 2.5%;
    }

    .button-section .button-1 {
        width: 50%;
    }

    .button-section .button-transparent {
        width: 50%;
    }

    .section-projects {
        padding: 0 3%;
    }

    .section-projects .set {
        padding: 1% 0;
    }

    .container-section p {
        margin: auto 0;
    }

    .container-section p.especify {
        margin-left: 1%
    }

    section#education h2 {
        text-align: center;
    }

    .education-section {
        display: flex;
        padding-left: 1%;
    }
}

@media (max-width: 1048px) { /* Se va a ejecutar lo que este dentro de corchetes hasta llegar a los 1048px, despues de 1048px se deje de ejecutar */
    label.logo {
        font-size: 32px;
        padding-left: 6%;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        font-size: 17px;
    }
}


@media (max-width: 909px) { /*Se va a ejecutar lo que este en corchetes hasta que la pantalla llegue a 909px */
    nav #icon {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fbbf24;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
    }

    a.active,a:hover {
        border: none;
    }

    nav ul.show {
        left: 0;
    }

    .column-4-gde {
        width: 100%;
    }

    .card-education {
        border-radius: none;
        border: none;
        box-shadow: none;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}